<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comments</key>
	<dict>
		<key>EndTag</key>
		<string>*/</string>
		<key>StartTag</key>
		<string>/*</string>
	</dict>
	<key>Completions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>Site::get_url</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>()</string>
			<key>String</key>
			<string>Site::get_url</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>URL::out</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>()</string>
			<key>String</key>
			<string>URL::out</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>DB::get</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>()</string>
			<key>String</key>
			<string>DB::get</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Post::get</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>()</string>
			<key>String</key>
			<string>Post::get</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Posts::get</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>()</string>
			<key>String</key>
			<string>Posts::get</string>
		</dict>
	</array>
	<key>LineCompletion</key>
	<string>;</string>
	<key>Name</key>
	<string>PHP</string>
	<key>VariablePrefixes</key>
	<array>
		<string>$</string>
	</array>
</dict>
</plist>